.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App_container {
  width: 1000px;
  padding-bottom: 20px;
}

.App_container button {
  padding: 5px 20px;
  margin: 5px;
}

.App_button_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
